@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Custom Properties */
:root {
  /* Colors */
  --nclr-white: hsl(0deg 0% 100%);
  --nclr-pink: hsl(275deg 100% 97%);
  --pclr-gray-purple: hsl(292deg 16% 49%);
  --pclr-dark-purple: hsl(292deg 42% 14%);

  /* Fonts */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --ff-primary: "Work Sans";
}
